/* Login.module.css */
.container {
  min-height: 100vh;
  padding: 20px;
}

.formContainer {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button {
  width: 100%;
}
.labelInput {
  margin-top: 15px;
  font-size: "18px";
}
