.statisticCard {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background: #7397da;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.3s;
  border: 1px solid #f0f0f0;
  height: 100%;
}

.statisticCard:hover {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  transform: translateY(-4px);
}

@media screen and (max-width: 768px) {
  .main-div {
    padding: 10px !important;
  }

  .statisticCard {
    text-align: center;
    padding: 10px;
  }

  .bread-cumb {
    padding-left: 10px;
  }
}
